<div class="flex-fill ms-4 container-xxl">
  <table class="table">
    <thead>
      <tr>
        <th scope="col">#</th>
        <th scope="col">Descripcion</th>
        <th scope="col">Area</th>
        <th scope="col">Cuartos</th>
        <th scope="col">Cocinas</th>
        <th scope="col">Baños</th>
        <th scope="col">Estacionamientos</th>
        <th scope="col">Antiguedad</th>
        <th scope="col">Precio</th>
        <th scope="col">Botones</th>
      </tr>
    </thead>
    <tbody *ngFor="let categoria of categorias; let i = index" >
      <tr class="align-middle">
        <th scope="row">{{i+1}}</th>
        <td>{{categoria.descripcion}}</td>
        <td>{{categoria.area}}</td>
        <td>{{categoria.cuartos}}</td>
        <td>{{categoria.cocinas}}</td>
        <td>{{categoria.banios}}</td>
        <td>{{categoria.estacionamientos}}</td>
        <td>{{categoria.antiguedad}}</td>
        <td>{{categoria.precio | number}}</td>
        <td>
          <a class="btn btn-danger" (click)="eliminarCategoria(categoria.idCategory)">Eliminar</a>
        </td>
      </tr>
    </tbody>
  </table>
</div>
