.dialog__cliente .mat-form-field {
  width: 28%;
  margin-left: 12px;
  margin-top: 5px;
}

@media (min-width : 600px) and (max-width: 950px) {
  .mat-form-field{
    width: 48%;
  }
}

@media (min-width : 350px) and (max-width: 600px) {
  .mat-form-field{
    width: 100%;
  }
}

 form {
  margin-bottom: 20px;
}

 form > * {
  margin: 5px 0;
}

 .mat-radio-button {
  margin: 0 12px;
}


 button, a {
  margin-right: 12px;
}
