<app-header-nav></app-header-nav>
<p class="form__header fs-5 text-break">Registro de Cliente</p>
<form  novalidate [formGroup]="client" (submit)="registrar()">
  <div class="row">
    <div class="col-lg-2 form-floating mb-3">
      <input type="text" class="form-control form__input" id="nombre" name="nombre" placeholder=" " formControlName="nombre">
      <label for="nombre" class="label__name">Primer Nombre</label>
    </div>
    <div class="col-lg-2 form-floating mb-3">
      <input type="text" class="form-control form__input" id="nombre2" name="nombre2" placeholder=" " formControlName="nombre2">
      <label for="nombre2" class="label__name">Segundo Nombre</label>
    </div>
    <div class="col-lg-2 form-floating mb-3">
      <input type="text" class="form-control form__input" id="apellidoP" name="apellidoP" placeholder=" " formControlName="apellidoP">
      <label for="apellidoP" class="label__name">Apellido Paterno</label>
    </div>
    <div class="col-lg-2 form-floating mb-3">
      <input type="text" class="form-control form__input" id="apellidoM" name="apellidoM" placeholder=" " formControlName="apellidoM">
      <label for="apellidoM" class="label__name">Apellido Materno</label>
    </div>
    <div class="col-lg-2 form-floating mb-3">
      <input type="text" class="form-control form__input" id="documento" name="documento" placeholder=" " formControlName="documento">
      <label for="documento" class="label__name">Documento</label>
    </div>
    <div class="col-lg-2 ">
      <label for="type">Tipo</label>
      <!-- <input type="text" class="form-control" id="type" name="type" [(ngModel)]="data!.type"> -->
      <select name="tipo" id="tipo" class="form-select form__select" formControlName="tipo">
        <option value="-1" selected>[Seleccione]</option>
        <option value="{{i}}" *ngFor="let tipo of types; let i = index" >
          {{tipo | uppercase}}
        </option>
      </select>
  </div>
  </div>
  <div class="row">
    <div class="col-lg-3 form-floating mb-3">
      <input type="text" class="form-control form__input" id="correo" name="correo" placeholder=" " formControlName="correo">
      <label for="correo" class="label__name">Correo Electrónico</label>
    </div>
    <div class="col-lg-3 form-floating mb-3">
      <input type="text" class="form-control form__input" id="celular" name="celular" placeholder=" " formControlName="celular">
      <label for="celular" class="label__name">Número Celular</label>
    </div>
    <div class="col-lg-3 form-floating mb-3">
      <input type="text" class="form-control form__input" id="fechaNac" name="fechaNac" placeholder=" " formControlName="fechaNac">
      <label for="fechaNac" class="label__name">Fecha de Nacimiento</label>
    </div>
  </div>
  <div class="row">
    <div class="col-lg-3 form-floating mb-3">
      <input type="text" class="form-control form__input" id="departamento" name="departamento" placeholder=" " formControlName="departamento">
      <label for="departamento" class="label__name">Departamento</label>
    </div>
    <div class="col-lg-3 form-floating mb-3">
      <input type="text" class="form-control form__input" id="provincia" name="provincia" placeholder=" " formControlName="provincia">
      <label for="provincia" class="label__name">Provincia</label>
    </div>
    <div class="col-lg-3 form-floating mb-3">
      <input type="text" class="form-control form__input" id="distrito" name="distrito" placeholder=" " formControlName="distrito">
      <label for="distrito" class="label__name">Distrito</label>
    </div>
  </div>

    <!--Acordeon para desplegar el registro de la mascota-->
    <div class="accordion accordion-flush" id="accordionFlushExample">
      <div class="accordion-item">
        <h2 class="accordion-header" id="flush-headingOne">
          <button class="accordion-button collapsed" type="button" data-bs-toggle="collapse" data-bs-target="#flush-collapseOne" aria-expanded="false" aria-controls="flush-collapseOne">
            Registrar Mascotas
          </button>
        </h2>
        <div id="flush-collapseOne" class="accordion-collapse collapse" aria-labelledby="flush-headingOne" data-bs-parent="#accordionFlushExample">
          <div class="col-12">
            <a class="btn btn-primary mt-2" (click)="addNewPets()">Añadir mascota</a>
          </div>
          <div class="accordion-body" >
            <!-- formArrayName="pets" -->
             <ng-container formArrayName="pets" *ngFor="let o of pets.controls; let i = index">
              <div class="row" [formGroupName]="i">
                <b>Pet {{i+1}}</b> <button class="btn btn-danger" (click)="removePet(i)" >Remover Mascota </button>
                <div class="col-sm-5 form-floating mb-3">
                  <input type="text" class="form-control form__input" id="descripcion" name="descripcion" placeholder=" " formControlName="descripcion">
                  <label for="descripcion" class="label__name">Descripcion</label>
                </div>
                <div class="col-sm-4 form-floating mb-3">
                  <input type="text" class="form-control form__input" id="nombre" name="nombre" placeholder=" " formControlName="nombre">
                  <label for="nombre" class="label__name">Nombre</label>
                </div>
              </div>
             </ng-container>
          </div>
        </div>
      </div>
    </div>
    <!--Fin del acordeon para el registro de mascota-->

    <div>
      <button type="buton" class="btn btn-primary mt-2" type="submit">Registrar</button>
    </div>
</form>
